[submodule "vendor/ponytail"]
	path = vendor/ponytail
	url = https://github.com/DietrichGebert/ponytail.git
[submodule "vendor/awesome-design-md"]
	path = vendor/awesome-design-md
	url = https://github.com/voltagent/awesome-design-md.git
[submodule "vendor/content-skills"]
	path = vendor/content-skills
	url = https://github.com/vyralcontent/content-skills
[submodule "vendor/awesome-copilot"]
	path = vendor/awesome-copilot
	url = https://github.com/github/awesome-copilot
