[submodule "vendor/ponytail"]
	path = vendor/ponytail
	url = https://github.com/DietrichGebert/ponytail.git
[submodule "vendor/awesome-design-md"]
	path = vendor/awesome-design-md
	url = https://github.com/voltagent/awesome-design-md.git
[submodule "vendor/agent-skills"]
	path = vendor/agent-skills
	url = https://github.com/addyosmani/agent-skills
